@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Work+Sans:wght@400;700&display=swap');

:root{
    /*Paleta de Colores*/
    --principal: #eb9ac0;
    --secundario: #ff87d1;
    --blanco: #fff;
    --negro: #000;
    --seleccionado: #bd13ec;

    /*Fuentes*/
    --cursiva: 'Dancing Script', cursive;
    --imprenta: 'Work Sans', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

ul{
    list-style: none;
    padding: 1rem;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 2.8rem;
}

h1, h2{
    text-align: center;
}

/*Globales*/

p{
    font-size: 1.8rem;
    font-family: var(--imprenta);
    color: var(--negro);
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

/*Titulo*/

.header{
    display: flex;
    align-items: center;
    padding: .5rem;
}

.imagen{
    width: 10rem;
    height: auto;
    margin-right: 1rem;
}

.titulo{
    color: var(--principal);
    font-family: var(--cursiva);
    margin: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/*Barra de navegacion*/

.nav-bg{
    background-color: var(--principal);
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px){
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.navegacion-principal .navegacion-activo,
.navegacion-principal a:hover {
    color: var(--seleccionado);
}


/*Hero*/

.hero{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
    background-position: center center;
}

.contenido-hero{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero p{
    color: var(--blanco);
    font-size: 4rem;
}


/*Main*/

.sombra{
    -webkit-box-shadow: 6px 5px 15px 0px rgba(112,112,112,0.754);
    -moz-box-shadow: 6px 5px 15px 0px rgba(112,112,112,0.754);
    box-shadow: 6px 5px 15px 0px rgba(112,112,112,0.754);

    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

.red{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.red h3{
    color: var(--principal);
    font-weight: normal;
    font-size: 2.5rem;
}

.red p{
    line-height: 2;
    text-align: center;
}

.redes{
    border-bottom: solid 1px var(--negro);
}

.redes .iconos{
    height: 15em;
    width: 15rem;
    background-color: var(--principal);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media (min-width: 768px){
    .redes{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}

.mapa{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    padding: 2rem;
}

.informacion-mapa{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}


@media (max-width: 768px){
    .mapa{
        flex-wrap: wrap-reverse;
    }
}

.mapa h2{
    font-size: 3.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.mapa h3{
    font-size: 2.8rem;
    font-family: Arial, Helvetica, sans-serif;
}

.horarios{
    font-size: 2.3rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
}

/*Footer*/

footer{
    background-color: var(--principal);
    padding: 1rem;
    text-align: center;
    /*margin-top: 3rem;*/
    width: 100%;
}

footer p{
    font-size: 1.2rem;
}





/*----------------------------------------------------*/

/*Quienes somos*/

.foto-carnet {
    border-radius: 50%;
    max-width: 50rem;
    width: 100%;
    height: auto;
}

.textos {
    margin-left: 2rem; /* Ajusta el margen según tus preferencias */
}

.nombre, .expliacion {
    margin: 0;
}

.contenedor-quienes-somos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
}

.quien-soy {
    display: flex; 
    align-items: center; 
}

@media (max-width: 768px) {
    .contenedor-quienes-somos {
        flex-direction: column-reverse;
        text-align: center;
    }

    .quien-soy {
        flex-direction: column;
        text-align: center;
    }

    .textos {
        margin-left: 0; 
        margin-top: 1rem;
    }
}



.hero-somos{
    background-image: url(../img/espera.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    /*margin-bottom: 2rem;*/
    background-position: center center;
    border-top-left-radius: 20%;
    margin-top: 2rem;
}

.contenido-hero-somos{
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.contenido-hero-somos h2,
.contenido-hero-somos p{
    color: var(--blanco);
    font-size: 4rem;
}


.boton-contactanos {
    display: inline-block;
    padding: 1.2rem 2.4rem; 
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--negro);
    background-color: var(--blanco);
    border-radius: 1.5rem;
    transition: background-color 0.3s, color 0.3s;
}

.boton-contactanos:hover {
    background-color: var(--negro);
    color: var(--blanco);
}


/*-----------------------------------------*/

/*Servicios*/

.contenedor-servicios {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.contenedor-servicios :last-child {
    border: none;
}

.contenedor-imagen-servicio{
    max-width: 30rem;
    max-height: 30rem;
}

.imagen-servicio {
    width: 100%; 
    height: 100%;
}

@media (max-width: 768px){
    .contenedor-imagen-servicio{
        max-width: 15rem;
        max-height: 15rem;

        min-width: 15rem;
        min-height: 15rem;
    }
}

.cards-servicios{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.servicios {
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap; 
    border-bottom: #000 solid 0.1rem;
}

.contenedor-card-servicio{
    margin-left: 2rem;
}

.contenedor-card-servicio h2{
    text-align: start;
}

#main-principal{
    margin-bottom: 2rem;
}